@charset "UTF-8";
/* 블로그 */
.u_likeit_list_module .u_likeit_list_btn .u_ico,
.u_likeit_list_module .u_likeit_list_btn .u_ico::before {
    background-image: url("https://ssl.pstatic.net/static/blog/sp_likeit_m6.png");
    -webkit-background-size: 60px 94px;
    background-size: 60px 94px;
}

.u_likeit_list_module .u_likeit_list_btn .u_txt,
.u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-weight: normal;
}

.lyr_post_function .u_likeit_list_module .u_likeit_list_btn {
    position: relative;
}

.lyr_post_function .u_likeit_list_module .u_likeit_list_btn .u_ico {
    position: absolute;
    top: 14px;
    right: 17px;
    width: 16px;
    height: 16px;
    background-position: 0 -17px;
}

.lyr_post_function .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-position: -18px -17px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn {
    display: inline-block;
    height: 38px;
    line-height: 38px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn .u_ico {
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: 17px 5px 0 0;
    background-position: 0 -55px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn.on .u_ico::before {
    display: block;
    width: 20px;
    height: 17px;
    background-position: -25px -55px;
    -webkit-animation: heart_ani2 0.3s;
    content: '';
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn.double_heart .u_ico {
    width: 26px;
    height: 17px;
    background-position: 0 -75px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn.double_heart.on .u_ico {
    background-position: -30px -75px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn .u_txt {
    margin-right: 4px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 54px;
}

.section_t1 .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    margin-right: 6px;
    font-family: 'Roboto','San Francisco','Helvetica',sans-serif;
    font-size: 14px;
    line-height: 54px;
    font-weight: bold;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0 5px 0 15px;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn .u_ico {
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: 13px 5px 0 0;
    background-position: 0 -55px;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn.on .u_ico::before {
    display: block;
    width: 20px;
    height: 17px;
    background-position: -25px -55px;
    -webkit-animation: heart_ani2 0.3s;
    content: '';
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn.double_heart .u_ico {
    width: 26px;
    height: 17px;
    background-position: 0 -75px;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn.double_heart.on .u_ico {
    background-position: -30px -75px;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn .u_txt {
    margin-right: 4px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 44px;
}

.floating_menu .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: 'Roboto','San Francisco','Helvetica',sans-serif;
    font-size: 14px;
    line-height: 44px;
    font-weight: bold;
}

@-webkit-keyframes heart_ani2 {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.lst_detail_t17 .txt_area .btn_like .u_likeit_list_module {
    display: inline-block;
}

.lst_detail_t17 .txt_area .btn_like .u_likeit_list_module .u_likeit_list_btn {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.lst_detail_t17 .txt_area .btn_like .u_likeit_list_module .u_likeit_list_btn .u_ico {
    display: inline-block;
    width: 12px;
    height: 11px;
    margin: 4px 4px 0 0;
    background-position: 0 0;
    vertical-align: top;
}

.lst_detail_t17 .txt_area .btn_like .u_likeit_list_module .u_likeit_list_btn.double_heart .u_ico {
    width: 16px;
    height: 11px;
    background-position: -14px 0;
}

.lst_detail_t17 .txt_area .btn_like .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: 'Roboto','San Francisco','Helvetica',sans-serif;
    font-size: 13px;
    line-height: 20px;
    vertical-align: top;
    font-weight: 300;
}

.card .u_likeit_list_module .u_likeit_list_btn {
    display: inline-block;
    font-size: 0;
}

.card .u_likeit_list_module .u_likeit_list_btn .u_ico {
    overflow: hidden;
    display: inline-block;
    width: 20px;
    height: 17px;
    margin: 1px 5px 1px 1px;
    background-position: 0 -55px;
    vertical-align: top;
}

.card .u_likeit_list_module .u_likeit_list_btn.on .u_ico {
    background-position: -25px -55px;
}

.card .u_likeit_list_module .u_likeit_list_btn.double_heart .u_ico {
    width: 26px;
    height: 17px;
    background-position: 0 -75px;
}

.card .u_likeit_list_module .u_likeit_list_btn.double_heart.on .u_ico {
    background-position: -30px -75px;
}

.card .u_likeit_list_module .u_likeit_list_btn .u_txt {
    margin-right: 4px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.card .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: 'Roboto','San Francisco','Helvetica',sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
}

.list_section .meta_foot .btn_like .u_likeit_list_module {
    display: inline;
}

.list_section .meta_foot .btn_like .u_likeit_list_module .u_likeit_list_btn {
    display: inline;
    font-size: 0;
}

.list_section .meta_foot .btn_like .u_likeit_list_module .u_likeit_list_btn .u_ico {
    display: none;
}

.list_section .meta_foot .btn_like .u_likeit_list_module .u_likeit_list_btn .u_txt {
    margin-right: 4px;
    font-family: sans-serif;
    font-size: 11px;
}

.list_section .meta_foot .btn_like .u_likeit_list_module .u_likeit_list_btn .u_cnt {
    font-family: Helvetica;
    font-size: 11px;
}

/* 공통뷰어 */
/*.common_view .view_btn_lk .u_likeit_list_module .u_ico{display:inline-block;width:18px;height:16px;margin:2px 1px -2px 0 !important;background-position:0 -35px;}*/
/*.common_view .view_btn_lk .u_likeit_list_module .on .u_ico{background-position:-20px -35px;}*/

/*# sourceMappingURL=likeit_blog.css.map */